<h1>Add Password</h1>
<div class="example-container">
    <mat-form-field>
        <input matInput placeholder="Title" [(ngModel)]="passwordInfo.title">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="passwordInfo.emailOrUsername">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Password" [(ngModel)]="passwordInfo.password">
    </mat-form-field>
</div>

<button mat-flat-button color="primary" (click)="handleSave()">Save</button>
<button mat-flat-button (click)="handleCancel()">Cancel</button>